body{
    color: white;
    background-color: rgba(0, 0, 0, 0.888);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

h2{
    margin: 0px;
}

.form-container{
    background-color: rgba(110, 110, 110, 0.007);
    color: white;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 0 55px rgba(250, 250, 250, 0.199);
    width: 320px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

input {
    border: 1px solid rgba(250, 250, 250, 0.199);
    border-radius: 8px;
    background-color: rgba(250, 250, 250, 0.199);
    color: white;
    padding: 7px;
    outline: 0;
}

input::placeholder{
    color: white;
}


.buttons{
    outline: 0;
    border: 0;
}